<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.liuqy.adc.tomatoclock"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <application
        android:icon="@drawable/tomato"
        android:label="@string/app_name" >
        <activity
            android:label="@string/app_name"
            android:name=".TomatoClockActivity" 
            android:launchMode="singleInstance" 
            android:configChanges="keyboardHidden|orientation" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".TomatoTimerService" />
        <service android:name=".TimerUpdateService" />
        <receiver android:name=".TomatoVibrator"></receiver>
    </application>
	<uses-permission android:name="android.permission.VIBRATE" />

</manifest>